.trip-details{
    height: 80px;
  width: 200px;
  background-color:#fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid black;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.para {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status{
  height: 20px;
  width: 100%;
  margin-top: 22px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(7, 160, 243);
}


.trip{
    height: 130px;
    width: 200px;
}
.past-trip-img{
    height: 130px;
    width: 200px;
    /* padding: 1px; */
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .trip p{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 20px;
  
  }