.footer{
    height: 300px;
    width: 72rem;
    background-color: #ffffff;
    position: absolute;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .para1,.para2,.para3,.para4{
    font-size: 2rem;
  }

  .italic{
    font-size: 3rem;
  }
  .para1{
    margin-left: 2rem;
    margin-top: .5rem;
  }
  .para2{
    margin-left: 12rem;
    margin-top: .5rem;
  }
  .para3{
    margin-left: 15rem;
    margin-top: .5rem;
  }
  .para4{
    margin-left: 17rem;
    margin-top: .5rem;
  }